    /* GENERAL */
    *{
      margin:0;
      padding:0;
      font-family: 'Quicksand', sans-serif;

    }

    p {
        color:black;
        font-size:1.1em;
        padding: .5em;
    }

    a{
        color:#ffc53e;
    }
    h2{
        font-size: 1.8em;
        color:black;
    }

    ul li {
        color:black;
        list-style: none;
    }

    form{
        display: flex;
        align-items: center;
    }
    .banner-content h2{
        color:white;
        padding: .6em 0;
    }
    .banner-content p{
        color:white;
    }
    #wrapper{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }


    /* END GENERAL */



    /* HEADER */
    header{
        width: 80%;
        margin-left: 10%;
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        min-width:150px;
    }

    .logo{
        background-image: url("../images/logo.pentalog-company-white.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height:90px;
        text-indent: -9999px;
        min-width:130px;
        margin-top: 15px;
    }
    /* END HEADER */

    /* MAIN MENU */
    #left-nav{
        margin-left:5%;
        display:flex;
        flex:2;
    }

    #left-nav nav ul li{
        list-style:none;
    }

    #left-nav ul li a{
        padding: 25px;
        padding-top: 39px;
        color:white;
        text-decoration:none;
        text-transform: uppercase;
        font-weight:bold;
        min-width:50px;
    }

    #right-nav{
        color:#ffc53e;
        display:flex;
        margin-left:auto;
        flex:1;
        justify-content: flex-end;
    }

    #left-nav  nav ul{
        display:flex;
    }

    #left-nav  nav ul li a:hover{
        border-top: solid 4px #ffc53e;
    }

    #left-nav ul{
        display: flex;
        min-width: 25px;
        flex-wrap: wrap;
    }
    /* MAIN BANNER */

    #top-banner{
        display:flex;
        flex-direction:column;
        width: 100%;
        background-image:url("../images/freelancer_hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 7px solid #f8bd32;
    }

    .banner-content{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.2em;

    }



    .banner-content p{
        max-width:30em;
        padding: 1.5em 3.5em;
    }

     input[type="button"],  input[type="submit"]{
        margin: 5px;
        padding: 3px;
        cursor: pointer;
        border-radius: 4px;
        color: black;
        font-weight: bold;
        background-color: #ffc53e;
        border-color: #ffc53e;
        text-transform: uppercase;
        font-size: .8em;
         min-height:30px;
     }

     input[type="submit"]{
         border-radius: 0 4px 4px 0;
     }

     input[type="text"]{
         padding: 6px;
         border-radius: 4px 0 0 4px;
         border: solid 1px #c7c6c6;
         border-right: none;
         margin: 0;
         background-color: black;
         color: #fffdfd;
     }
     input[type="button"]:hover{
        background-color: black;
        color: #ffc53e;
        border: 1px solid;
    }

    .button-small{
        width: 7em;
    }

    #subscribe{
        display:flex;
    }

    #subscribe input[type="submit"]{
        flex:1;
        margin:0;
    }

    #subscribe input[type="text"]{
        flex:3;
    }

    .button-large{
        width: 15em;
    }


    /* END BANNER */

    /*FOOTER */
    footer{
        background-color: #171414;
        color: white;
        border-top: solid 4px #ffc53e;
    }

    footer a{
        color: #ffc53e;
        text-decoration: none;
    }

    footer li{
        list-style: none;
        color: #929292;
        font-size: 1.1em;
        padding: 0.2em;
    }

    footer li a{
        list-style: none;
        text-decoration: none;
        color: #929292;
    }
    footer > * {
        display:flex;
        padding-left: 10%;
        padding-right: 10%;
    }
    #left-footer{
        display:flex;
        flex:1;
        color: #ffff;
    }

    #right-footer{
        display:flex;
        flex:1;
        color: #ffc53e;

    }
    .col-right{
        margin-left: 10%;
    }
    #footer-one h2{
        color:white;
    }

    #footer-one p{
        color:white;
    }
    .col-left, .col-right{
        flex: 1;
        max-width: 36em;
    }

    /* FOOTER ONE*/
    #footer-one{
        padding-top: 3em;
        padding-bottom:1em;
        justify-content: space-around;
    }

    /* FOOTER TWO*/
    #footer-two{
        background-color: #171414;
        justify-content: space-around;
    }

    .col-left{
        max-width: 45em;
    }

    #footer-two h4{
        font-size:0.9em;
        text-transform:uppercase;
        padding:5px;
    }

    #footer-two .logo{
        padding: 0 15px 0 15px;
        margin-top: 0;
        width: 85px;
        min-width: 64px;
    }

    #footer-two .col-left, #footer-two .col-right{
        display:flex;
        justify-content: space-between;
        align-items:baseline;
    }

    #footer-two .col-right .col{
        max-width:24em;
    }
    /* FOOTER THREE*/

    #footer-three{
        height: 50px;
        align-items: center;
        background-color:black;
        font-size: .9em;
    }

    #footer-three a{
        padding-left: .5em;
        padding-right: .5em;
        border-right: solid 1px;
    }

    #footer-three a:last-child{
        border-right: none;
    }

    a.search{
        padding: .1em 1em;
        font-size: 1.9em;
        color: #ffc53e;
    }

    .fab {
        border-radius: 100%;
        font-size: 1.5em;
        height: 21px;
        margin: 5px;
        text-align: center;
        width: 21px;
        background-color:#ffc53e;
        padding: .4em;
        color:black;
    }

    ul.contact li{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.1em;
    }

   ul.contact li .fas, ul.contact li .far{
       color: #ffc53e;
       font-size: 1.5em;
       padding: .5em;
   }

    .social{
        display: flex;
    }

    a.anchor_button {
        background: #f8bd32;
        color: #13201d;
        border-radius: 100%;
        text-align: center;
        font-size: 15px;
        position: relative;
        top: 7px;
        padding: 2px 5px 0px 5px;
    }

    /* CONTENT */
    content{
        color:black;
    }

    content{
        display: flex;
        flex-direction: column;
        color: black;
        flex: 1;
        width: 80%;
        margin-left: 10%;
        min-height: 150px;
    }
    .members{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .deco-sign{
        border: solid 2px #f8bd32;
        width: 3em;
        margin-top: 2em;
        display:flex;
        align-self:center;

    }
    content .button-large{

        display: flex;
        align-self: center;

    }
    /* END CONTENT */

    /* @@ media Queryes start */
    @media all and (max-width: 768px){
        header, footer, #footer-one, #footer-two, #footer-three, .col-left, .col-right, #right-footer
        {
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
            height:auto;
            align-content: space-evenly;
        }

        footer > * #footer-one > *, #footer-two > *, #footer-three > *,#right-footer, .col{
            align-content: center;
            max-width: 15em;
            margin: .6em;
        }

        #footer-three a{
            padding: .2em;
            margin: .2em;
        }
        #right-nav{
            margin-left:unset;
        }

        #left-nav{
            margin-left:unset;
        }

        #left-nav nav ul{
            flex-direction:column;
            flex:1;
        }

        .col-right{
            margin:0;
        }

        #right-footer a {
            border:none;
        }
        a.search{
            padding:0;
        }
    }
    /* @@ media Queryes end */

